{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="main/css/simbot.css")}}"/>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="main/css/lib/json-viewer.css")}}"/>
  <script type="text/javascript" src="{{url_for("static", filename="main/js/lib/sugar.min.js")}}"></script>
  <script type="text/javascript" src="{{url_for("static", filename="main/js/datatable.js")}}?v=0.11"></script>
  <script type="text/javascript" src="{{url_for("static", filename="main/js/lib/json-viewer.js")}}"></script>
{% endblock %}

{% block postlibs %}
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script>$(function() {init()})</script>
{% endblock %}

{% block content %}
 <div class="d-flex p-3 pl-5" style="background-color:rgba(49,112,143,0); border-bottom:1px solid rgba(70, 74, 76, 0.35);">
    <h5 id="title" class="mb-0" style="color:#464a4c; font-family:sans-serif; letter-spacing:3px">
      SIMBOT
    </h5>
 </div>
 <div class="d-flex" style="height:1274px">
    <div class="col-4 text-center p-0" style="height: 100%; max-width:575px; background-color: #215e64;">
       <div style="margin: 1.5rem; background-color: rgba(255, 255, 255, 0.2);">
          <div style="padding: 1.5rem; color: white;">
             <div>
                <div class="mb-3">
                   <h2 style="font-family:sans-serif">Garybot</h2>
                   <h2 style="font-family:monospace; color:yellow">[simulation]</h2>
                </div>
                <div id="stats"></div>
                <div>
                  <table id="dt-bots" class="table table-responsive"></table>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-8 p-5" style="height:100%">
      <h2 class="mb-5" hidden>Holdings</h2>
      <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
        <ul class="nav nav-tabs" role="tablist" style="border:none">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#upcoming"
            role="tab" aria-expanded="true">Open Holdings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#historic" role="tab"
            aria-expanded="false">Closed Holdings</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" style="border: 1px solid rgba(0, 0, 0, 0.14); border-top-right-radius: 5px;">
        <table id="dt-holdings" class="table dataTable"></table>
      </div>
    </div>
 </div>
{% endblock %}
