{% extends "base.html" %}
{% block head %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.3/rickshaw.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{url_for("static", filename="main/js/lib/d3.v3.js")}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.6.3/rickshaw.js"></script>
  <script type="text/javascript" src="{{url_for("static", filename="main/js/realtime.js")}}"></script>
{% endblock %}
{% block postlibs %}
  <script> jQuery(function($){initMain()}) </script>
{% endblock %}
{% block content %}
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-12 col-xl-12">
        <div id="panel" class="slide-panel mb-4">
          <div class="panel-hdr d-flex justify-content-between py-2 px-3">
            <span><h5 class="mb-0">Realtime Trades</h5></span>
            <span class="min-max pull-right" data-toggle="collapse" data-target="#panel-bdy" style="color:#74480a">
              <i class="fa fa-window-minimize text-right"></i>
            </span>
          </div>
          <div id="panel-bdy" class="panel-bdy collapse show">
            <div class="d-flex" id="chart_container">
              <div id="y_axis" style="height:500px; width:40px"></div>
              <div id="chart" style="width:100%"></div>
            </div>
            <div class="row" hidden>
              <div class="col-xl-12">
                <div id="legend_container" class="pull-right">
                  <div id="legend"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
