.logo {
    color:#464a4c;
    font-family:sans-serif;
    letter-spacing:3px;
}
.banner {
 background-color:rgba(49,112,143,0);
 border-bottom:1px solid rgba(70, 74, 76, 0.35);
}
.l-pane {
    height:100%;
    max-width:575px;
    background-color:#215e64;
}
.holdings-container {
    border:1px solid rgba(0, 0, 0, 0.14);
    border-top-right-radius:5px;
}
table.dataTable {
    max-width:100%!important;
    border-collapse: collapse!important;
    background-color:white;
    border:1px solid rgba(0, 0, 0, 0.15);  
}
td select.form-control {
    padding: 0;
}
thead tr th {
    font-weight:normal;
    border-bottom:none!important;
    border-top:none!important;
}
#home .nav-link {
  background-color: transparent;
  color: #6a6c6f;
}
#home .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #464a4c;
	border-bottom: 1px solid whitesmoke;
	background-color: whitesmoke!important;
}
#dt-holdings {
    width:100%!important;
    padding:0;
    margin:0!important;
}
#dt-holdings_length label {
  margin-bottom:0;
}
#dt-holdings_filter label {
  margin-bottom:0;
}
