
/***** html tags *****/

h1,h2,h3,h4,h5,thead {
    font-family:proxima-nova,"proxima nova","helvetica neue",helvetica,arial,sans-serif;
}
thead tr th {
    font-weight:normal;
    border-bottom:none!important;
    border-top:none!important;
}
td select.form-control {
    padding: 0;
}

/***** simbot *****/

#main-nav {
    display:flex;
    border-bottom: 1px solid rgba(0,0,0,0.13);
}
#main-menu {
    flex-direction:row;
    margin: 0rem 0.5rem;
}
a.nav-link {
    color:#136d8d!important;
}
#menu-toggle-btn {
    display:none;
}

.logo {
    color:#464a4c;
    font-family:sans-serif;
    letter-spacing:3px;
}
#logo_a {
    position:relative;
    left:0px;
}
.banner {
    background-color:rgba(49,112,143,0);
    border-bottom:1px solid rgba(70, 74, 76, 0.35);
}
.left-frame {
    color:white;
    height:100vh;
    max-width:575px;
    text-align:left;
    background-color:#136d8d;
}
.slide-panel {
    border:1px solid rgba(0, 0, 0, 0.14);
    border-radius:5px;
}
.min-max {
    color:#74480a;
}
.panel-hdr {
    color:#136d8d;
    border-bottom:1px solid rgba(0,0,0,0.15);
    background-color:rgba(211, 211, 211,0.10);
}
#spinner {
    width:1198px;
    height:100%;
}

#dt-holdings_length label {
  margin-bottom:0;
}
#dt-holdings_filter label {
  margin-bottom:0;
}
.filters-row {
    font-family:proxima-nova,"proxima nova","helvetica neue",helvetica,arial,sans-serif;
    padding:.75rem .25rem;
}
.pages-row {
    font-family:proxima-nova,"proxima nova","helvetica neue",helvetica,arial,sans-serif;
    padding:.5rem 1.0rem;
}

.min-max-panel {
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 5px;
}
#chart-panel {
    background-color:white;
    width:100%;
}
.chart {
    width:100%;
    height:100%;
}

/***** datatable.js overrides *****/

.dataTables_wrapper {
    border-radius:5px;
    border:none;
}
.dataTables_paginate {
    font-size: 0.875rem; 
}
table.dataTable {
    width:100%!important;
    max-width:100%!important;
    border-collapse: collapse!important;
    background-color:white;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin:0!important;
    padding:0!important;
}
.dataTable thead, tbody {
    width:100%!important;
    max-width:100%!important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(246, 246, 246, 0.4);
}

