### Instructions ###
# upgrade pip first:
# $ pip install --upgrade pip
# install package list:
# $ pip install -r requirements.txt

### Packages ###
amqp
celery
cryptography
eventlet
Flask
Flask-Login
Flask-SocketIO
httplib2
ipaddress
Jinja2
matplotlib
numpy==1.13.3
oauth2client
pandas==0.21.0
pymongo==3.3.0
python-dateutil
pyopenssl
pytz
requests
twilio==6.3.0
urllib3
websocket-client
Werkzeug
