### Instructions ###
# upgrade pip first:
# $ pip install --upgrade pip
# install package list:
# $ pip install -r requirements.txt

### Packages ###
amqp
celery
cryptography
eventlet
Flask
gdax
httplib2
ipaddress
Jinja2
matplotlib
numpy
oauth2client
pymongo==3.3.0
python-dateutil
pyopenssl
pytz
requests
urllib3
websocket-client
Werkzeug
